@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #070011;
  font-family: "Google Sans Flex";
}

.conatiner {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.nav {
  position: fixed;
  width: 50%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  top: 2em;
  left: 50%;
  transform: translate(-50%);
  padding: 20px 40px;
  z-index: 1;
}

.nav-logo a {
  display: flex;
  align-items: center;
}

a {
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.nav-items {
  display: flex;
  gap: 1.5em;
}

.content {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.content p {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 3em;
}

.btn-wrapper button {
  padding: 10px 35px;
  border-radius: 20px;
  font-size: 1em;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-tp {
  background: rgba(255, 255, 255, 0.05);
  color: rgb(106, 106, 106);
  backdrop-filter: blur(10px);
}

@media (max-width: 1000px) {
  .nav {
    width: 90%;
  }

  .content p {
    font-size: 2rem;
  }
}
